# Data folders
dataset/
motions/
wav/
audio/
output/
separated/
checkpoints/

# Virtual environment
dance_env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Data files
*.npy
*.pkl
*.mp3
*.wav
*.png
*.gif

# Mac junk
__MACOSX/